[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes
[submodule "output"]
	path = output
	url = https://github.com/gabhijit/gabhijit.github.io.git
[submodule "output2"]
	path = output
	url = https://github.com/gabhijit/gabhijit.github.io.git
